@page
@using WaterManagerUI.Model.Item
@model WaterManagerUI.Pages.richieste.RichiesteSospeso

<link rel="stylesheet" href="~/css/site.css"/>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <aside class="flex-container">
                <span>
                    <ul>
                        @if (Model.user.bacinoIdrico != null)
                        {
                            <div>
                                <a asp-page="/Bacino/GestoreBacino" class="btn btn-sidebar" asp-page-class="active">Statistiche bacino</a>
                            </div>
                            <div>
                                <a asp-page="/Bacino/richieste/VisualizzaRichiesteBacino" asp-route-bacinoId="@Model.user.bacinoIdrico.id" class="btn btn-sidebar" asp-page-class="active">Richieste</a>
                            </div>
                        }
                    </ul>
                </span>
            </aside>
        </div>
        <div class="col-md-8">
            <div class="main-container">
                <div class="content">
                    @if (Model.user.bacinoIdrico != null)
                    {
                        <h2>Richieste in sospeso</h2>
                    }
                </div>
            </div>
            <div class="elements">
                @if (Model.user.bacinoIdrico.richieste.Any())
                {
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Quantità</th>
                            <th>Nome azienda</th>
                            <th>Data</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (RichiestaIdrica richiesta in Model.user.bacinoIdrico.richiesteSospeso())
                        {
                            <tr>
                                <td>@richiesta.quantita</td>
                                <td>@richiesta.nomeAzienda</td>
                                <td>@richiesta.date</td>
                                <td>
                                    <form asp-page="/Bacino/Approva" asp-route-richiestaId="@richiesta.id" method="post">
                                        <button type="submit">Accept</button>
                                    </form>
                                </td>
                                <td>
                                    <form asp-page="/Bacino/Rifiuta" asp-route-richiestaId="@richiesta.id" method="post">
                                        <button type="submit">Reject</button>
                                    </form>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                }
                else
                {
                    <p>Non sono presenti richieste da visualizzare</p>
                }
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>