@page
@using WaterManagerUI.Model.Item
@using Humanizer
@model WaterManagerUI.Pages.VisualizzaMisureCampo

<link rel="stylesheet" href="css/site.css"/>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <aside class="flex-container">
                <span>
                    <ul>
                        <div>
                            <a asp-page="/Azienda/GestoreAzienda" class="btn btn-sidebar" asp-page-class="active">Statistiche Azienda</a>
                        </div>
                        <div>
                            <a asp-page="/Azienda/Visualizza/VisualizzaColtivazioni" class="btn btn-sidebar" asp-page-class="active">Coltivazioni</a>
                        </div>
                        <div>
                            <a asp-page="/Azienda/Visualizza/VisualizzaAttuatori" class="btn btn-sidebar" asp-page-class="active">Attuatori</a>
                        </div>
                    </ul>
                </span>
            </aside>
        </div>

        <div class="col-md-8">
            <div class="main-container">
                <div class="content">
                    <h2>Visualizza Misure</h2>
                    @if (Model.campo != null)
                    {
                        <h2>Dettagli campo</h2>
                        <p>Nome campo: @Model.campo.nome</p>
                    }
                </div>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Misura</th>
                        <th>Data</th>
                        <th>Tipologia Sensore</th>
                        <th>Nome Sensore</th>
                    </tr>
                    </thead>
                    <tbody>
                    @if (Model.campo.sensori.Any())
                    {
                        @foreach (Sensore sensore in Model.campo.sensori)
                        {
                            @if (sensore.misure.Any())
                            {
                                @foreach (Misura misura in sensore.storicoMisure())
                                {
                                    <tr>
                                        <td>@misura.value</td>
                                        <td>@misura.time.FormatWith("yyyy-MM-dd HH:mm:ss")</td>
                                        <td>@sensore.type</td>
                                        <td>@sensore.nome</td>
                                    </tr>
                                }
                            }
                        }
                    }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-2">
        </div>
    </div>
</div>