@page
@model WaterManagerUI.Pages.GestoreIdricoPage

<link rel="stylesheet" href="css/site.css"/>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            @Html.Partial("layout/GestoreIdrico/_SideMenuGestoreIdrico")
        </div>
        <div class="col-md-8">
            <div class="content">
                @if (Model.user.bacinoIdrico != null)
                {
                    <div class="content-header">
                        <div>
                            <h2>Dettagli bacino</h2>
                            <p>Nome bacino: @Model.user.bacinoIdrico.nome</p>
                        </div>
                        <div class="info-addizionali">
                            <p>Disponibilità giornaliera: @Model.user.bacinoIdrico.storicoRisorse().FirstOrDefault().disponibilita</p>
                            <p>Consumo giornaliero: @Model.user.bacinoIdrico.storicoRisorse().FirstOrDefault().consumo</p>
                        </div>
                    </div>


                    <div class="elemento" style="margin: 20px">
                        <a asp-page="/Bacino/disponibilita/ModificaDisponibilita">
                            <div class="info-elemento nome">Disponibilità idrica: @Model.user.bacinoIdrico.dispAttuale()</div>
                        </a>
                    </div>
                    <div class="elemento" style="margin: 20px">
                        <a asp-page="/Bacino/richieste/RichiesteSospeso" asp-route-bacinoId="@Model.user.bacinoIdrico.id">
                            <div class="info-elemento nome">Richieste in sospeso: @Model.user.bacinoIdrico.richiesteSospeso().Count</div>
                        </a>
                    </div>
                    <div class="elemento" style="margin: 20px">
                        <a asp-page="/Bacino/richieste/RichiesteApprovate" asp-route-bacinoId="@Model.user.bacinoIdrico.id">
                            <div class="info-elemento nome">Richieste approvate: @Model.user.bacinoIdrico.richiesteApprovate().Count</div>
                        </a>
                    </div>
                    <div class="elemento" style="margin: 20px">
                        <a asp-page="/Bacino/richieste/RichiesteRifiutate" asp-route-bacinoId="@Model.user.bacinoIdrico.id">
                            <div class="info-elemento nome">Richieste rifiutate: @Model.user.bacinoIdrico.richiesteRifiutate().Count</div>
                        </a>
                    </div>
                }
                else
                {
                    <div class="bottone-aggiungi">
                        <a asp-page="/Bacino/Crea/CreaBacino">Aggiungi bacino</a>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>