@model WaterManagerUI.Model.Item.Campo

<div class="elemento" onclick="this.parentNode.submit()">
    <a asp-page="/Azienda/Visualizza/campo/VisualizzaCampo" asp-route-campoId="@Model.id">
        <div class="info-elemento nome">Nome: @Model.nome</div>
        <div class="info-elemento dimensione">Dimensione: @Model.dimensione</div>
        @if (Model.storicoColtivazioni().Any())
        {
            <div class="info-elemento coltivazioni">Coltivazione corrente: @Model.storicoColtivazioni().FirstOrDefault().raccolto</div>
        }
        else
        {
            <div class="info-elemento coltivazioni">Coltivazione corrente: INCOLTO</div>
        }
        <div class="info-elemento campi">Numero sensori: @Model.sensori.Count</div>
        <div class="info-elemento campi">Numero attuatori: @Model.attuatori.Count</div>
    </a>
</div>