@page
@using WaterManagerUI.Model.Item
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WaterManagerUI.Pages.VisualizzaCampiAzienda

<link rel="stylesheet" href="~/css/Visualizza.css"/>
<link rel="stylesheet" href="~/css/site.css"/>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <aside class="flex-container">
                <span>
                    <ul>
                        @if (Model.user.azienda.campagne == null)
                        {
                            <div>
                                <a asp-page="/Azienda/CreaCampagna" class="btn btn-sidebar" asp-page-class="active">Aggiungi campagna</a>
                            </div>
                        }
                        else
                        {
                            <div>
                                <a asp-page="/Azienda/GestoreAzienda" class="btn btn-sidebar" asp-page-class="active">Statistiche Azienda</a>
                            </div>
                            <div>
                                <a asp-page="/Azienda/Visualizza/campagna/VisualizzaCampagne" asp-route-aziendaId="@Model.azienda.id" class="btn btn-sidebar" asp-page-class="active">Campagne</a>
                            </div>
                            <div>
                                <a asp-page="/Azienda/Visualizza/campo/VisualizzaCampiAzienda" asp-route-aziendaId="@Model.azienda.id" class="btn btn-sidebar" asp-page-class="active">Campi</a>
                            </div>
                            <div>
                                <a asp-page="/Azienda/Visualizza/VisualizzaRichieste" asp-route-aziendaId="@Model.azienda.id" class="btn btn-sidebar" asp-page-class="active">Richieste</a>
                            </div>
                        }
                    </ul>
                </span>
            </aside>
        </div>
        <div class="col-md-8">
            <div class="main-container">
                <div class="content">
                    @if (Model.user.azienda != null)
                    {
                        <h2>Dettagli Azienda</h2>
                        <p>Nome Azienda: @Model.user.azienda.nome</p>
                    }
                    else
                    {
                        <p>Nessuna azienda registrata. Utilizza il link a sinistra per aggiungere un'azienda.</p>
                    }
                </div>
            </div>
            <div class="elements">
                @if (@Model.azienda.campagne.Any())
                {
                    @foreach (Campagna campagna in Model.azienda.campagne)
                    {
                        @if (campagna.campi.Any())
                        {
                            foreach (Campo campo in campagna.campi.OrderBy(c => c.nome).ToList())
                            {
                                @Html.Partial("layout/details/_campoDetails", campo)
                            }
                        }
                    }
                }
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>