@page
@using WaterManagerUI.Model.Item
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WaterManagerUI.Pages.VisualizzaCampiAzienda

<link rel="stylesheet" href="~/css/Visualizza.css"/>

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <aside class="flex-container">
                <span>
                    <ul>
                        @if (Model.user.azienda.campagne == null)
                        {
                            <div>
                                <a asp-page="/Azienda/CreaCampagna">Aggiungi campagna</a>
                            </div>
                        }
                        else
                        {
                            <div>
                                <a asp-page="/Azienda/GestoreAzienda">Statistiche Azienda</a>
                            </div>
                            <div>
                                <a asp-page="/Azienda/Visualizza/campagna/VisualizzaCampagne" asp-route-aziendaId="@Model.azienda.id">Campagne</a>
                            </div>
                            <div>
                                <a asp-page="/Azienda/Visualizza/campo/VisualizzaCampiAzienda" asp-route-aziendaId="@Model.azienda.id">Campi</a>
                            </div>
                            <div>
                                <a asp-page="/Azienda/Visualizza/VisualizzaRichieste" asp-route-aziendaId="@Model.azienda.id">Richieste</a>
                            </div>
                        }
                    </ul>
                </span>
            </aside>
        </div>
        <div class="col-md-8">
            <div class="content">
                @if (Model.user.azienda != null)
                {
                    <h2>Dettagli Azienda</h2>
                    <p>Nome Azienda: @Model.user.azienda.nome</p>
                }
                else
                {
                    <p>Nessuna azienda registrata. Utilizza il link a sinistra per aggiungere un'azienda.</p>
                }
            </div>

            <div class="elements">
                @if (@Model.azienda.campagne.Any())
                {
                    @foreach (Campagna campagna in Model.azienda.campagne)
                    {
                        @if (campagna.campi.Any())
                        {
                            foreach (Campo campo in campagna.campi)
                            {
                                @Html.Partial("layout/details/_campoDetails", campo)
                            }
                        }
                    }
                }
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>