@page
@model WaterManagerUI.Pages.Bacino.richieste.VisualizzaRichiestaA

<link rel="stylesheet" href="css/site.css"/>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <ul>
                @if (Model.user.azienda != null)
                {
                    <div>
                        <a asp-page="/Azienda/GestoreAzienda" class="btn btn-sidebar" asp-page-class="active">Statistiche azienda</a>
                    </div>
                    <div>
                        <a asp-page="/Azienda/Visualizza/VisualizzaRichieste" asp-route-aziendaId="@Model.user.azienda.id" class="btn btn-sidebar" asp-page-class="active">Richieste</a>
                    </div>
                }
            </ul>
        </div>

        <div class="col-md-8">
            <div class="main-container">
                <div class="content">
                    @if (Model.richiestaIdrica != null)
                    {
                        <h2>Dettagli richiesta idrica</h2>
                    }
                </div>
            </div>

            <div class="elemento">
                <div class="info-elemento raccolto">Quantità: @Model.richiestaIdrica.quantita</div>
                <div class="info-elemento azienda">Azienda: @Model.richiestaIdrica.nomeAzienda</div>
                <div class="info-elemento data">Data: @Model.richiestaIdrica.date</div>
                @if (Model.richiestaIdrica.approvato != null)
                {
                    <div class="info-elemento nome">Stato: @Model.richiestaIdrica.approvato.approvato</div>
                }
            </div>
        </div>

        <div class="col-md-2">
        </div>
    </div>
</div>