@page
@using WaterManagerUI.Model.Item
@model WaterManagerUI.Pages.VisualizzaSensori

<link rel="stylesheet" href="~/css/Visualizza.css"/>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <aside class="flex-container">
                <span>
                    <ul>
                        <div>
                            <a asp-page="/Azienda/GestoreAzienda" class="btn btn-sidebar" asp-page-class="active">Statistiche Azienda</a>
                        </div>
                        <div>
                            <a asp-page="/Azienda/Visualizza/VisualizzaColtivazioni" class="btn btn-sidebar" asp-page-class="active">Coltivazioni</a>
                        </div>
                        <div>
                            <a asp-page="/Azienda/Visualizza/VisualizzaAttuatori" class="btn btn-sidebar" asp-page-class="active">Attuatori</a>
                        </div>
                    </ul>
                </span>
            </aside>
        </div>

        <div class="col-md-8">
            <div class="main-container">
                <div class="content">
                    @if (Model.campo != null)
                    {
                        <h2>Dettagli campo</h2>
                        <p>Nome campo: @Model.campo.nome</p>
                    }
                </div>
            </div>
            @if (Model.campo.sensori.Any())
            {
                <div class="bottoni-azione">
                    <div class="bottone-aggiungi">
                        <a asp-page="/Azienda/Crea/CreaSensore" asp-route-campoId="@Model.campo,id">Aggiungi sensore</a>
                    </div>
                    <div class="bottone-aggiungi" style=" border: 2px dashed #ff0000; color: #ff0000">
                        <a asp-page="/Azienda/Elimina/EliminaSensore" asp-route-campoId="@Model.campo.id">Eliminia sensore</a>
                    </div>
                </div>

                <div class="elements">
                    @foreach (Sensore sensore in Model.campo.sensori)
                    {
                        @Html.Partial("layout/details/_sensoreDetails", sensore)
                    }
                </div>
            }
            else
            {
                <div class="bottone-aggiungi">
                    <a asp-page="/Azienda/Crea/CreaSensore" asp-route-campoId="@Model.campo,id">Aggiungi sensore</a>
                </div>
            }

        </div>

        <div class="col-md-2">
        </div>
    </div>
</div>