@page
@using WaterManagerUI.Model.Item
@model WaterManagerUI.Pages.VisualizzaRichieste

<link rel="stylesheet" href="~/css/site.css"/>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <aside class="flex-container">
                <span>
                    <ul>
                        <div>
                            <a asp-page="/Azienda/GestoreAzienda" class="btn btn-sidebar" asp-page-class="active">Statistiche Azienda</a>
                        </div>
                        <div>
                            <a asp-page="/Azienda/Visualizza/campagna/VisualizzaCampagne" asp-route-aziendaId="@Model.azienda.id" class="btn btn-sidebar" asp-page-class="active">Campagne</a>
                        </div>
                        <div>
                            <a asp-page="/Azienda/Visualizza/campo/VisualizzaCampiAzienda" asp-route-aziendaId="@Model.azienda.id" class="btn btn-sidebar" asp-page-class="active">Campi</a>
                        </div>
                    </ul>
                </span>
            </aside>
        </div>

        <div class="col-md-8">
            <div class="main-container">
                <div class="content">
                    @if (Model.azienda != null)
                    {
                        <h2>Dettagli richieste</h2>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h3>In attesa</h3>
                    @if (Model.azienda.richiesteSospeso().Any())
                    {
                        @foreach (RichiestaIdrica richiesta in Model.azienda.richiesteSospeso())
                        {
                            <div class="elemento">
                                <div class="info-elemento nome">Quantita: @richiesta.quantita</div>
                                <div class="info-elemento dimensione">Data: @richiesta.date</div>
                                <div class="info-elemento coltivazioni">Stato: IN ATTESA</div>
                            </div>
                        }
                    }
                    else
                    {
                        <p>Non ci sono richieste in attesa</p>
                    }
                </div>
                <div class="col-md-4">
                    <h3>Approvate</h3>
                    @if (Model.azienda.richiesteApprovate().Any())
                    {
                        @foreach (RichiestaIdrica richiesta in Model.azienda.richiesteApprovate())
                        {
                            <div class="elemento">
                                <div class="info-elemento nome">Quantita: @richiesta.quantita</div>
                                <div class="info-elemento dimensione">Data: @richiesta.date</div>
                                @if (richiesta.approvato.approvato)
                                {
                                    <div class="info-elemento coltivazioni">Stato: APPROVATA</div>
                                }
                            </div>
                        }
                    }
                    else
                    {
                        <p>Non ci sono richieste approvate</p>
                    }
                </div>
                <div class="col-md-4">
                    <h3>Rifiutate</h3>
                    @if (Model.azienda.richiesteRifiutate().Any())
                    {
                        @foreach (RichiestaIdrica richiesta in Model.azienda.richiesteRifiutate())
                        {
                            <div class="elemento">
                                <div class="info-elemento nome">Quantita: @richiesta.quantita</div>
                                <div class="info-elemento dimensione">Data: @richiesta.date</div>
                                @if (!richiesta.approvato.approvato)
                                {
                                    <div class="info-elemento coltivazioni">Stato: RIFIUTATA</div>
                                }
                            </div>
                        }
                    }
                    else
                    {
                        <p>Non ci sono richieste rifiutate</p>
                    }
                </div>
            </div>
        </div>

        <div class="col-md-2">
        </div>
    </div>
</div>