@page
@using WaterManagerUI.Model.Item
@model WaterManagerUI.Pages.VisualizzaAttuatori

<link rel="stylesheet" href="~/css/Visualizza.css"/>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <aside class="flex-container">
                <span>
                    <ul>
                        <li>
                            <a href="/Azienda/GestoreAzienda">Statistiche Azienda</a>
                        </li>
                        <li>
                            <a href="/Azienda/Visualizza/VisualizzaCampi">Campi</a>
                        </li>
                        <li>
                            <a href="/Azienda/Visualizza/Coltivazioni">Coltivazioni</a>
                        </li>
                        <li>
                            <a href="/Azienda/Visualizza/Richiesta">Richieste</a>
                        </li>

                    </ul>
                </span>
            </aside>
        </div>

        <div class="col-md-8">
            <div class="main-container">
                <div class="elements">
                    @if (Model.campo.attuatori.Any())
                    {
                        <div class="bottoni-azione">
                            <div class="bottone-aggiungi">
                                <a asp-page="/Azienda/Crea/CreaAttuatore" asp-route-campoId="@Model.campo.id">Aggiungi attuatore</a>
                            </div>
                            <div class="bottone-aggiungi" style=" border: 2px dashed #ff0000; color: #ff0000">
                                <a asp-page="/Azienda/Elimina/EliminaAttuatore" asp-route-campoId="@Model.campo.id">Elimina attuatore</a>
                            </div>
                        </div>

                        @foreach (Attuatore attuatore in Model.campo.attuatori)
                        {
                            <div class="elemento" onclick="this.parentNode.submit()">
                                <a asp-page="/Azienda/Visualizza/VisualizzaAttuatore" asp-route-campoId="@attuatore.id">
                                    <div class="info-elemento nome">Nome: @attuatore.nome</div>
                                    @if (attuatore.storicoAttivazioni().Any())
                                    {
                                        <div class="info-elemento coltivazioni">Stato corrente: @attuatore.storicoAttivazioni().FirstOrDefault().current</div>
                                    }
                                    else
                                    {
                                        <div class="info-elemento coltivazioni">Stato corrente: false</div>
                                    }
                                </a>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="bottone-aggiungi">
                            <a asp-page="/Azienda/Crea/CreaAttuatore" asp-route-campoId="@Model.campo.id">Aggiungi attuatore</a>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="col-md-2">
        </div>
    </div>
</div>