@page
@using WaterManagerUI.Model.Item
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model VisualizzaCampagna

<link rel="stylesheet" href="~/css/Visualizza.css"/>

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <aside class="flex-container">
                <span>
                    <ul>
                        <li>
                            <a href="/Azienda/GestoreAzienda">Statistiche Azienda</a>
                        </li>
                        <li>
                            <a href="/Azienda/Visualizza/VisualizzaCampi">Campi</a>
                        </li>
                        <li>
                            <a asp-page="/Azienda/Visualizza/campagna/VisualizzaColtivazioneCampagna" asp-route-aziendaId="@Model.campagna.id">Coltivazioni</a>
                        </li>
                        <li>
                            <a href="/Azienda/Visualizza/Richiesta">Richieste</a>
                        </li>

                    </ul>
                </span>
            </aside>
        </div>

        <div class="col-md-8">
            <div class="content">
                @if (Model.campagna != null)
                {
                    <h2>Dettagli campagna</h2>
                    <p>Nome campagna: @Model.campagna.nome</p>
                }
                else
                {
                    <p>Nessuna azienda registrata. Utilizza il link a sinistra per aggiungere un'azienda.</p>
                }
            </div>

            <div class="elements">
                @if (Model.campagna.campi.Count > 0)
                {
                    @foreach (Campo campo in Model.campagna.campi)
                    {
                        <div class="elemento" onclick="this.parentNode.submit()">
                            <a asp-page="/Azienda/Visualizza/campo/VisualizzaCampo" asp-route-campoId="@campo.id">
                                <div class="info-elemento nome">Nome: @campo.nome</div>
                                <div class="info-elemento dimensione">Dimensione: @campo.dimensione</div>
                                @if (campo.storicoColtivazioni().Any())
                                {
                                    <div class="info-elemento coltivazioni">Coltivazione corrente: @campo.storicoColtivazioni().FirstOrDefault().raccolto</div>
                                }
                                else
                                {
                                    <div class="info-elemento coltivazioni">Coltivazione corrente: INCOLTO</div>
                                }
                                <div class="info-elemento campi">Numero sensori: @campo.sensori.Count</div>
                                <div class="info-elemento campi">Numero attuatori: @campo.attuatori.Count</div>
                            </a>
                        </div>
                    }

                    <div class="bottone-aggiungi">
                        <a asp-page="/Azienda/Crea/CreaCampo" asp-route-campagnaId="@Model.campagna.id" class="plus-icon">+</a>
                        <a asp-page="/Azienda/Crea/CreaCampo" asp-route-campagnaId="@Model.campagna.id">Aggiungi campo</a>
                    </div>
                }
                else
                {
                    <div class="bottone-aggiungi">
                        <a asp-page="/Azienda/Crea/CreaCampo" asp-route-campagnaId="@Model.campagna.id" class="plus-icon">+</a>
                        <a asp-page="/Azienda/Crea/CreaCampo" asp-route-campagnaId="@Model.campagna.id">Aggiungi campo</a>
                    </div>
                }
            </div>
        </div>

        <div class="col-md-2">
        </div>
    </div>
</div>