@page
@using WaterManagerUI.Model.Item
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WaterManagerUI.Pages.Azienda.Visualizza.campagna.VisualizzaCampagna

<link rel="stylesheet" href="~/css/site.css"/>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <aside class="flex-container">
                <span>
                    <ul>
                        <div>
                            <a asp-page="/Azienda/GestoreAzienda" class="btn btn-sidebar" asp-page-class="active">
                                Statistiche Azienda
                            </a>
                        </div>
                        @if (Model.campagna.campi.Any())
                        {
                            <div>
                                <a asp-page="/Azienda/Visualizza/campagna/VisualizzaColtivazioneCampagna" asp-route-aziendaId="@Model.campagna.id"
                                   class="btn btn-sidebar" asp-page-class="active">
                                    Coltivazioni
                                </a>
                            </div>
                            <div>
                                <a asp-page="/Azienda/Visualizza/Richiesta" class="btn btn-sidebar"
                                   asp-page-class="active">
                                    Richieste
                                </a>
                            </div>
                        }

                    </ul>
                </span>
            </aside>
        </div>

        <div class="col-md-8">
            <div class="main-container">
                <div class="content">
                    @if (Model.campagna != null)
                    {
                        <h2>Dettagli campagna</h2>
                        <p>Nome campagna: @Model.campagna.nome</p>
                    }
                </div>
            </div>

            @if (Model.campagna.campi.Any())
            {
                <div class="bottoni-azione">
                    <a asp-page="/Azienda/Crea/CreaCampo" asp-route-campagnaId="@Model.campagna.id" class="bottone-aggiungi" style="text-decoration: none; color: inherit; color: #13b400">
                        Aggiungi campo
                    </a>
                    <a asp-page="/Azienda/Elimina/EliminaCampo" asp-route-campagnaId="@Model.campagna.id" class="bottone-aggiungi" style="text-decoration: none; color: inherit; border: 2px dashed #ff0000; color: #ff0000">
                        Elimina campo
                    </a>
                </div>
            }
            else
            {
                <a asp-page="/Azienda/Crea/CreaCampo" asp-route-campagnaId="@Model.campagna.id" style="text-decoration: none; color: inherit; grid-column: span 4">
                    <div class="bottone-aggiungi">
                        Aggiungi campo
                    </div>
                </a>
            }

            <div class="elements">
                @if (Model.campagna.campi.Any())
                {
                    @foreach (Campo campo in Model.campagna.campi.OrderBy(c => c.nome).ToList())
                    {
                        <div class="elemento" onclick="this.parentNode.submit()">
                            <a asp-page="/Azienda/Visualizza/campagna/campo/VisualizzaCampo" asp-route-campoId="@campo.id">
                                <div class="info-elemento nome">Nome: @campo.nome</div>
                                <div class="info-elemento dimensione">Dimensione: @campo.dimensione</div>
                                @if (campo.storicoColtivazioni().Any())
                                {
                                    <div class="info-elemento coltivazioni">Coltivazione corrente: @campo.storicoColtivazioni().FirstOrDefault().raccolto</div>
                                }
                                else
                                {
                                    <div class="info-elemento coltivazioni">Coltivazione corrente: INCOLTO</div>
                                }
                                <div class="info-elemento campi">Numero sensori: @campo.sensori.Count</div>
                                <div class="info-elemento campi">Numero attuatori: @campo.attuatori.Count</div>
                            </a>
                        </div>
                    }
                }
            </div>
        </div>

        <div class="col-md-2">
        </div>
    </div>
</div>