@page
@using WaterManagerUI.Model.Item
@using System.Net
@model WaterManagerUI.Pages.VisualizzaCampagne

<link rel="stylesheet" href="~/css/Visualizza.css"/>

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <aside class="flex-container">
                <span>
                    <ul>
                        @if (Model.user.azienda.campagne.Count == 0)
                        {
                            <div>
                                <a asp-page="/Azienda/Crea/CreaCampagna" asp-route-aziendaId="@Model.user.azienda.id">Crea campagna</a>
                            </div>
                        }
                        else
                        {
                            <div>
                                <a href="/Azienda/GestoreAzienda">Statistiche Azienda</a>
                            </div>
                            <div>
                                <a asp-page="/Azienda/Visualizza/campagna/VisualizzaCampagne" asp-route-aziendaId="@Model.user.azienda.id">Campagne</a>
                            </div>
                            <div>
                                <a asp-page="/Azienda/Visualizza/campo/VisualizzaCampiAzienda" asp-route-aziendaId="@Model.user.azienda.id">Campi</a>
                            </div>
                            <div>
                                <a href="/Azienda/Richiesta">Richieste</a>
                            </div>
                        }
                    </ul>
                </span>
            </aside>
        </div>
        <div class="col-md-8">
            <div class="content">
                @if (Model.user.azienda != null)
                {
                    <h2>Dettagli Azienda</h2>
                    <p>Nome Azienda: @Model.user.azienda.nome</p>
                }
                else
                {
                    <p>Nessuna azienda registrata. Utilizza il link a sinistra per aggiungere un'azienda.</p>
                }
            </div>

            <div class="elements">
                @if (@Model.campagne.Any())
                {
                    @Html.Partial("layout/buttons/addButtons/_addCampagna", Model.user.azienda)

                    @foreach (Campagna campagna in Model.campagne)
                    {
                        @Html.Partial("layout/details/_campagnaDetails", campagna)
                    }
                }
                else
                {
                    @Html.Partial("layout/buttons/addButtons/_addCampagna", Model.user.azienda)
                }
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>