@page
@using WaterManagerUI.Model.Item
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model VisualizzaCampagna

<link rel="stylesheet" href="~/css/Visualizza.css"/>

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <aside class="flex-container">
                <span>
                    <ul>
                        <li>
                            <a href="/Azienda/GestoreAzienda">Statistiche Azienda</a>
                        </li>
                        <li>
                            <a asp-page="/Azienda/Visualizza/campagna/VisualizzaColtivazioneCampagna" asp-route-aziendaId="@Model.campagna.id">Coltivazioni</a>
                        </li>
                        <li>
                            <a href="/Azienda/Visualizza/Richiesta">Richieste</a>
                        </li>

                    </ul>
                </span>
            </aside>
        </div>

        <div class="col-md-8">
            <div class="content">
                @if (Model.campagna != null)
                {
                    <h2>Dettagli campagna</h2>
                    <p>Nome campagna: @Model.campagna.nome</p>
                }
                else
                {
                    <p>Nessuna azienda registrata. Utilizza il link a sinistra per aggiungere un'azienda.</p>
                }
            </div>

            <div class="elements">
                @if (Model.campagna.campi.Count > 0)
                {
                    @Html.Partial("layout/buttons/addButtons/_addCampo", Model.campagna)

                    @foreach (Campo campo in Model.campagna.campiAlfabetico())
                    {
                        @Html.Partial("layout/details/_campoDetails", campo)
                    }
                }
                else
                {
                    @Html.Partial("layout/buttons/addButtons/_addCampo", Model.campagna)
                }
            </div>
        </div>

        <div class="col-md-2">
        </div>
    </div>
</div>