@page
@using WaterManagerUI.Model.Item
@model WaterManagerUI.Pages.VisualizzaCampagne

<link rel="stylesheet" href="css/site.css"/>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <aside class="flex-container">
                <span>
                    <ul>
                        <div>
                            <a asp-page="/Azienda/GestoreAzienda" class="btn btn-sidebar" asp-page-class="active">Statistiche Azienda</a>
                        </div>
                        @if (Model.campagne.Any())
                        {
                            <div>
                                <a asp-page="/Azienda/Visualizza/campagna/campo/VisualizzaCampagne" asp-route-aziendaId="@Model.azienda.id" class="btn btn-sidebar" asp-page-class="active">Campagne</a>
                            </div>
                            <div>
                                <a asp-page="/Azienda/Visualizza/campagna/campo/VisualizzaCampiAzienda" asp-route-aziendaId="@Model.azienda.id" class="btn btn-sidebar" asp-page-class="active">Campi</a>
                            </div>
                            <div>
                                <a asp-page="/Azienda/Richiesta" class="btn btn-sidebar" asp-page-class="active">Richieste</a>
                            </div>
                        }
                    </ul>
                </span>
            </aside>
        </div>
        <div class="col-md-8">
            <div class="main-container">
                <div class="content">
                    @if (Model.azienda != null)
                    {
                        <h2>Dettagli campagne azienda</h2>
                        <p>Nome Azienda: @Model.azienda.nome</p>
                    }
                </div>
            </div>

            @if (Model.campagne.Any())
            {
                <div class="bottoni-azione">
                    <a asp-page="/Azienda/Crea/CreaCampagna" asp-route-aziendaId="@Model.azienda.id" class="bottone-aggiungi" style="text-decoration: none; color: inherit; color: #13b400">
                        Aggiungi campagna
                    </a>
                    <a asp-page="/Azienda/Elimina/EliminaCampagna" asp-route-aziendaId="@Model.azienda.id" class="bottone-aggiungi" style="text-decoration: none; color: inherit; border: 2px dashed #ff0000; color: #ff0000">
                        Elimina campagna
                    </a>
                </div>

                <div class="elements">
                    @foreach (Campagna campagna in Model.campagne)
                    {
                        <div class="elemento" onclick="this.parentNode.submit()">
                            <a asp-page="/Azienda/Visualizza/campagna/VisualizzaCampagna" asp-route-campagnaId="@campagna.id">
                                <div class="info-elemento nome">Nome: @campagna.nome</div>
                                <div class="info-elemento dimensione">Dimensione: @campagna.size()</div>
                                <div class="info-elemento campi">Numero campi: @campagna.campi.Count</div>
                            </a>
                        </div>
                    }

                </div>
            }
            else
            {
                <a asp-page="/Azienda/Crea/CreaCampagna" asp-route-aziendaId="@Model.azienda.id" style="text-decoration: none; color: inherit; grid-column: span 4">
                    <div class="bottone-aggiungi">
                        Aggiungi campagna
                    </div>
                </a>
            }


        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>