@page
@model WaterManagerUI.Pages.AdminPage

<link rel="stylesheet" href="~/css/site.css"/>
<link rel="stylesheet" href="~/css/Visualizza.css"/>

<title>Azienda</title>

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <aside class="flex-container">
                <span>
                    <ul>
                        <div>
                            <a asp-page="/Admin/Users/UsersAzienda">Gestori Azienda</a>
                        </div>
                        <div>
                            <a asp-page="/Admin/Users/UsersBacino">Gestori Bacino</a>
                        </div>
                        <div>
                            <a asp-page="/Admin/Coltivazione/Raccolto">Raccolto</a>
                        </div>
                        <div>
                            <a asp-page="/Admin/Coltivazione/Esigenza">Esigenza</a>
                        </div>
                        <div>
                            <a asp-page="/Admin/Coltivazione/Irrigazione">Irrigazione</a>
                        </div>
                    </ul>
                </span>
            </aside>
        </div>
        <div class="col-md-8">
            <div class="content">
                <h2>Gestione WaterManager </h2>

                <div class="elements">
                    <div class="elemento">
                        <a asp-page="/Admin/Users/UsersAzienda">
                            <div class="info-elemento nome">Numero gestori aziende: @Model.count.gestoriAzienda</div>
                        </a>
                    </div>
                    <div class="elemento">
                        <a asp-page="/Admin/Users/UsersBacino">
                            <div class="info-elemento nome">Numero gestori idrici: @Model.count.gestoriBacino</div>
                        </a>
                    </div>
                    <div class="elemento">
                        <a asp-page="/Admin/Users/UsersAzienda">
                            <div class="info-elemento nome">Numero bacini: @Model.count.gestoriAzienda</div>
                        </a>
                    </div>
                    <div class="elemento">
                        <a asp-page="/Admin/Users/UsersAzienda">
                            <div class="info-elemento nome">Numero aziende: @Model.count.aziende</div>
                        </a>
                    </div>
                    <div class="elemento">
                        <a asp-page="/Admin/Users/UsersAzienda">
                            <div class="info-elemento nome">Numero campagne: @Model.count.campagne</div>
                        </a>
                    </div>
                    <div class="elemento">
                        <a asp-page="/Admin/Users/UsersAzienda">
                            <div class="info-elemento nome">Numero campi: @Model.count.campi</div>
                        </a>
                    </div>
                    <div class="elemento">
                        <a asp-page="/Admin/Users/UsersAzienda">
                            <div class="info-elemento nome">Numero tipologie raccolti: @Model.count.raccolti</div>
                        </a>
                    </div>
                    <div class="elemento">
                        <a asp-page="/Admin/Users/UsersAzienda">
                            <div class="info-elemento nome">Numero tipologie esigenze: @Model.count.esigenze</div>
                        </a>
                    </div>
                    <div class="elemento">
                        <a asp-page="/Admin/Users/UsersAzienda">
                            <div class="info-elemento nome">Numero tipologie irrigazioni: @Model.count.irrigazioni</div>
                        </a>
                    </div>
                    <div class="elemento">
                        <a asp-page="/Admin/Users/UsersAzienda">
                            <div class="info-elemento nome">Numero tipologie sensori: @Model.count.sensorTypes</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>