@page
@model WaterManagerUI.Pages.GestoreAziendaPage

<link rel="stylesheet" href="~/css/site.css"/>
<link rel="stylesheet" href="~/css/Visualizza.css"/>

<title>Azienda</title>

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <aside class="flex-container">
                <span>
                    <ul>
                        @if (Model.azienda != null)
                        {
                            <div>
                                <a href="/Azienda/GestoreAzienda">Statistiche Azienda</a>
                            </div>
                            <div>
                                <a asp-page="/Azienda/Visualizza/campagna/VisualizzaCampagne" asp-route-aziendaId="@Model.azienda.id">Campagne</a>
                            </div>
                            <div>
                                <a asp-page="/Azienda/Visualizza/campo/VisualizzaCampiAzienda" asp-route-aziendaId="@Model.azienda.id">Campi</a>
                            </div>
                            <div>
                                <a asp-page="/Azienda/Visualizza/campagna/VisualizzaColtivazioniAzienda" asp-route-aziendaId="@Model.azienda.id">Campagne</a>
                            </div>
                            <div>
                                <a href="/Azienda/Visualizza/VisualizzaRichiesta">Richieste</a>
                            </div>
                        }
                    </ul>
                </span>
            </aside>
        </div>
        <div class="col-md-8">
            <div class="content">
                @if (Model.azienda != null)
                {
                    <h2>Dettagli Azienda</h2>
                    <p>Nome Azienda: @Model.azienda.nome</p>

                    <div class="elemento">
                        <a asp-page="/Azienda/Visualizza/campagna/VisualizzaCampagne" asp-route-aziendaId="@Model.azienda.id">
                            <div class="info-elemento nome">Disponibilità idrica: @Model.azienda.dispAttuale()</div>
                        </a>
                    </div>
                    <div class="elemento">
                        <a asp-page="/Azienda/Visualizza/campagna/VisualizzaCampagne" asp-route-aziendaId="@Model.azienda.id">
                            <div class="info-elemento nome">Dimensione: @Model.azienda.size()</div>
                        </a>
                    </div>
                    <div class="elemento">
                        <a asp-page="/Azienda/Visualizza/campagna/VisualizzaCampagne" asp-route-aziendaId="@Model.azienda.id">
                            <div class="info-elemento nome">Campagne: @Model.azienda.campagne.Count</div>
                        </a>
                    </div>
                    <div class="elemento">
                        <a asp-page="/Azienda/Visualizza/campo/VisualizzaCampiAzienda" asp-route-aziendaId="@Model.azienda.id">
                            <div class="info-elemento nome">Campi: @Model.azienda.campagne.Count</div>
                        </a>
                    </div>

                    @if (Model.azienda.richieste != null)
                    {
                        <div class="elemento">
                            <a href="/Azienda/Visualizza/VisualizzaCampagna">
                                <div class="info-elemento nome">Richieste in sospeso: @Model.azienda.richiesteSospeso()</div>
                            </a>
                        </div>
                    }
                }
                else
                {
                    <div class="bottone-aggiungi">
                        <a asp-page="/Azienda/Crea/CreaAzienda" asp-route-userId="@Model.user.id" class="plus-icon">+</a>
                        <a asp-page="/Azienda/Crea/CreaAzienda" asp-route-userId="@Model.user.id">Aggiungi Azienda</a>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>